name: Check & Deploy

on:
  push:
    paths:
      - 'index.html'
  pull_request:
    paths:
      - 'index.html'
  workflow_dispatch: # Allows manual testing

permissions: read-all

concurrency:
  group: ${{ github.workflow }}@${{ github.ref }}
  cancel-in-progress: true


jobs:
  build-site:
    name: Build site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: mkdir -p build && cp index.html build/
      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'build'

  deploy:
    name: Deploy site
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
    runs-on: ubuntu-latest
    needs: build-site
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4